<div class="card text-center mb-3 position-absolute top-50 start-50 translate-middle" style="width: 22rem;">
    <div class="card-body">
        <h5 class="card-title">Упс...</h5>
        <p class="card-text">Похоже у вас нет команд?</br> Но вы всегда можете её создать!</p>
            <div class="container d-flex flex-wrap text-center">
                <a class="btn btn-primary ms-auto p-2" href=#>Создать команду</a>
                <a class="btn btn-primary ms-auto p-2" href=#>Присоединиться</a>
            </div>
    </div>
</div>
